In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\shrey\appdata\local\programs\python\python311\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [4]:
producer = KafkaProducer(bootstrap_servers = ['15.207.55.66:9092'],
                        value_serializer = lambda x:
                        dumps(x).encode('utf-8'))

In [13]:
df = pd.read_csv("indexProcessed.csv")

In [14]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [31]:
while True:
    stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('Kproject', value = stock)
    sleep(1)

In [28]:
producer.flush()